.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 0 1rem;
    width: 100%;
}

@media (min-width: 768px) {
    .navbar.mobile {
        position: absolute;
    }
}

.navbar-left .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0 1rem;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1rem;
}

.navbar-right button {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}