.toggle {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    color: var(--dark-text-color);
    font-weight: bold;
}

.toggle-container {
    display: flex;
    height: fit-content;
    padding-left: 1rem;
}

.no {
    border-radius: 0 1rem 1rem 0 !important;
    padding: 0 5px 0 1px;
}
.yes {
    border-radius: 1rem 0 0 1rem !important;
    padding: 0 1px 0 5px;
}